body {
    background-color: #FFFFFF;
    margin: 0px; 
}
header {
    background-color: #8AAAE5;
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 16px 16px;
}
main {
    font-size: 16.5px;
    line-height: 1.5rem;  
}
.introduction {
    text-align: justify;
    padding: 20px;
}
h1 {
    text-align: center;
}
.my-bio {
   text-align: left;
    padding: 0px 20px;
}
ol {
    list-style-type: "❇️";
    line-height: 2rem;
}
a {
    text-decoration: none;
} 
a:hover {
    background-color:#051639;
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #8AAAE5;
}
footer p {
    margin-bottom: 0px;
    color:#030303f8;
    font-size: .86rem;
}
.socials {
    display: flex;
    justify-content:center;
    gap: 15px; 
    padding-top: 20px;
}